body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }


  @media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    tbody::after {
        content: ''; display: block;
        page-break-after: always;
        page-break-inside: avoid;
        page-break-before: avoid;        
    }
    
  
}

table, th, td { border: 1px solid gray; border-collapse: collapse; }
th, td { padding: 8px; }
tbody:first-of-type { background-color: #eee; }


.rtl{

  direction: rtl;
  text-align: right;
}
.clear{

clear: both;

}
table{

  width: 100%
}
.offset
{

  padding: 10px;
}
.table{
  /* margin: 24px; */
  direction: rtl;  
}

div.watermark {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  left: 46%;
  top: 50%;
}
div.watermark::after {
  content: "";
  background: url(http://ofoqelec.com/Content/images/gallery/d5f74356-9a9f-455b-b59b-241f9040791c.jpg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}
